FRAMEDATA_IMAGE_REPOSITORY=ghcr.io/nmur
FRAMEDATA_IMAGE_TAG=stable

POSTGRES_DB=framedata
POSTGRES_USER=framedata
POSTGRES_PASSWORD=change-me
FRAMEDATA_POSTGRES_DATA=/srv/framedatabot/postgres
FRAMEDATA_EXPORTS_PATH=/srv/framedatabot/exports

API_PORT=8080
BOT_API_BASE_URL=http://api:8080
DISCORD_BOT_TOKEN=
BOT_GUILD_ID=

INGESTION_SOURCE_BASE_URL=http://ensabahnur.free.fr/BastonNew/index.php
